.metric scale trough highlight {
   all: unset;
   background-color: #EEE;
   color: #000000;
   border-radius: 10px;
}
.metric scale trough {
   all: unset;
   background-color: #4e4e4e;
   border-radius: 50px;
   min-height: 5px;
   min-width: 50px;
   margin-left: 10px;
   margin-right: 20px;
}
