.w0, .w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09, .w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099 {
  padding: 4px 10px 0px 10px;
  box-shadow: inset 0 -2px transparent;
  font-size: 15px;
}

.w0 {
  color: #a89984;
}
.w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09 {
  color: white;
}

.w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099 {
  color: white;
  box-shadow: inset 0px 2px LightSkyBlue;
}
.workspace {
  padding: 0 5px;
}

.workspace button:hover {
  box-shadow: inset 0px 2px #ffffff;
}
